<div class="modal fade editFieldModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h1 class="modal-title">{% raw %}{{ title | capitalize }}{% endraw %} Posts So Far</h1>
      </div>
      <div class="modal-body">
        <p>Select a post to activate it. Click the + to add a new post. Click - to remove new posts.</p>
        <p>Click submit to save new posts. Click outside popup to preview change.</p>
        <div class="row">
          <div class="container-fluid col-sm-9" ng-show="showNewPostField" style="padding-bottom: 15px;">
            <textarea class="form-control newPost" rows="5" placeholder="Post"></textarea>
            <span ng-show="newPostError" class="label label-warning" ng-bind="errorMessage"></span>
          </div>
          <div class="container-fluid col-sm-3" ng-show="showNewPostField"
               style="padding-bottom: 15px; padding-left: 0px">
            <input type="text" class="form-control newAuthor" placeholder="Author"/>
            </br>
            <button ng-click="addNewPost()" class="btn button-primary">Add Post</button>
          </div>
        </div>
        <div class="row" style="padding-left: 15%; padding-top: 5%">
          <span ng-click="enterNewPost()" class="glyphicon glyphicon-plus"></span>
          <span ng-click="removeNewPosts()" class="glyphicon glyphicon-minus"></span>
        </div>
        <div class="container-fluid pre-scrollable row modalTableDiv">
          <!-- for text and testemonial fields -->
          <table class="table">
            <thead>
              <th>Date Created</th>
              <th>Value</th>
              <th ng-if="testemonialField">Author</th>
            </thead>
            <tr ng-repeat="post in posts" ng-class="{selected: $index == selectedRow}"
                ng-click="toggleSelected($index)">

              <td style="min-width: 150px" ng-bind="post.date_created"></td>

              <td ng-bind="post.text"></td>

              <td style="min-width: 150px" ng-bind="post.author"></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="removeNewPosts()" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="savePostChanges()" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>