.jumbotron {
    margin-bottom: 0;
    background-size: cover;
    padding-top: 8%;
    padding-bottom: 20%;
    color: #8C489F;
    text-align: center;
}

.jumbotron img {
    display: block;
    margin: auto;
}

.banner_menu_button {
    padding-top:20%;
}

.banner_menu_button .glyphicon {
    font-size:300%;
    color:#8C489F;
    display: block;
}

.banner_inner_container {
    margin:0 auto;
    display: inline-block;
    padding:1%;
    border-radius: 5px;
    background-color: rgba(230, 230, 230, 0.8);
}

.banner_buttons {
    margin:0 auto;
    text-align: center;
    margin-top: 5%;
}

.banner_buttons a{
    margin: 5%;
    color: black;
    font-size:150%;
}

.banner_title {
    text-align: center;
    color: #8C489F;
    font-size: 7em;
    font-family: "Lucida Grande";
    letter-spacing: 4px;
    color: #8C489F;
}

@media only screen and (max-width: 1300px) {
    .banner_title {
        font-size: 5em;
    }

    .banner_buttons a{
        font-size:130%;
    }
}

@media only screen and (max-width: 800px) {
    .banner_title {
        font-size: 3em;
    }

    .banner_buttons a{
        font-size:100%;
    }
}

@media only screen and (max-width: 500px) {
    .banner_title {
        font-size: 1em;
    }

    .banner_buttons a{
        font-size:80%;
    }
}

.banner_container {
    margin-top: 50px;
}

.myBtn {
    border-radius: 0;
    margin: 5px;
}

.btn-primary {
    background-color: #8C489F;
    border-color: #000;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    color: #ffffff;
    background-color: #6c377b;
    border-color: #fff;
}

.modalTableDiv {
    max-height: 300px;
}

.checkbox-lg {
    width: 30px;
    height: 30px;
}

.my-container {
    padding: 5px;
    text-align: center;
    min-height: 200px;
    max-height: 200px;
}

.my-thumbnail {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    max-height: 150px;
    border: solid;
    border-width: 3px;
    border-color: black;
}

h1 {
    font-family: Lucida Grande;
    letter-spacing: 4px;
    color: #8C489F;
}

p {
    font-family: Verdana;
    font-size: larger;
}

textarea {
    resize: none;
}

.selected {
    background-color: #d9b3ff;
}

.editable {
    position: relative;
}

.editable .icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}

.glyphicon-cog {
    font-size: 1.6em;
    color: #8C489F;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    visibility: hidden;
}

.glyphicon-plus {
    font-size: 1.6em;
    color: #8C489F;
}

.glyphicon-minus {
    font-size: 1.6em;
    color: #8C489F;
}

/* Centers modal vertically */
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.center-div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.pics-container {
    max-width:  600px;
    max-height: 600px;
    overflow: hidden;
}

.pics-container2 {
    max-width:  600px;
    max-height: 600px;
    background-repeat:   no-repeat;
    background-color: black;
    background-position: 50% 50%;
    padding: 0%;
    border: solid;
    border-width: 5px;
    border-color: black;
    overflow: hidden;
}

.myText {
    outline: #000 dotted;
    position: relative;
    top:10px;
}

.logo {
    font-size: 200px;
    color: #ad33ff;
}

#googleMap {
    height: 400px;
    width: 100%;
}

.container-fluid {
    padding: 60px 50px;
}

@media screen and (min-width: 768px) {

	.modal-dialog  {width:50%;}

}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

.navbar {
    margin-bottom: 0;
    background-color: #e6e6e6;
    z-index: 9999;
    border: 0;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #8C489F !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #ad33ff !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #8C489F !important;
}

#slide {
    display: block;
    margin: 0 auto;
}

.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: .5s;
    -webkit-animation-duration: .5s;
    /* Make the element visible */
    visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}