<div class="row">
  <div class="col-sm-6">
    <div class="pics-container slideanim"
      {% if g.user.is_authenticated %}
        edit-field tag="image" title="isaakBoyance" model="isaakBoyanceImage"
      {% endif %}>
      <img ng-src="{% raw %}{{ isaakBoyanceImage }}{% endraw %}" class="my-img img-rounded img-responsive"/>
    </div>
  </div>

  <div class="col-sm-6">
    <h1>Isaak Boyance</h1>
    <div class="container-fluid"
      {% if g.user.is_authenticated %}
        edit-field tag="text" title="isaakBoyance" model="isaakBoyanceText"
      {% endif %}>
      <p ng-bind="isaakBoyanceText"></p>
    </div>
  </div>
</div>