<div class="row">
  <div class="col-sm-6">
    <h1>Khalil Butler</h1>
    <div class="container-fluid"
      {% if g.user.is_authenticated %}
        edit-field tag="text" title="khalilButler" model="khalilButlerText"
      {% endif %}>
      <p ng-bind="khalilButlerText"></p>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="pics-container slideanim"
      {% if g.user.is_authenticated %}
        edit-field tag="image" title="khalilButler" model="khalilButlerImage"
      {% endif %}>
      <img ng-src="{% raw %}{{ khalilButlerImage }}{% endraw %}" class="my-img img-rounded img-responsive"/>
    </div>
  </div>
</div>