<div id="googleMap"></div>

<script async defer src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBpLhpuKKHzhfp0qSVVGSUcbpobXFHkqe8&callback=initMap"></script>

{#<script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>#}
<script>
    function initMap() {
    var location = {lat: 47.597009, lng: -122.322027};

    var mapProp = {
        center:location,
        zoom:15,
        scrollwheel:false,
        draggable:false,
        mapTypeId:google.maps.MapTypeId.ROADMAP
    };

    var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

    var marker = new google.maps.Marker({
        position:location,
        map: map
    });
}
</script>