<div class="row">
  <div class="col-sm-6 img-rounded">
    <h1>News</h1>
    <div
      {% if g.user.is_authenticated %}
        edit-field tag="text" title="news" model="newsText"
      {% endif %}
      class="container-fluid">
      <p ng-bind="newsText"></p>
    </div>
  </div>
  <div class="col-sm-6">
    <div
      {% if g.user.is_authenticated %}
        edit-field tag="image" title="news" model="newsImg"
      {% endif %}
      class="pics-container slideanim">
      <img ng-src="{% raw %}{{ newsImg }}{% endraw %}"
           class="my-img img-rounded img-responsive"/>
    </div>
  </div>
</div>