<div class="row">
  <div class="row">

  </div>
  <div class="row">
    <div class="col-sm-5">
      <div
        {% if g.user.is_authenticated %}
          edit-field tag="image" title="program" model="programImg"
        {% endif %}
        class="pics-container slideanim">
        <img ng-src="{% raw %}{{ programImg }}{% endraw %}"
             class="my-img img-rounded img-responsive"/>
      </div>
    </div>
    <div class="col-sm-7 img-rounded">
      <h1>Sign Up Today!</h1>
      <div class="col-sm-6">
        </br>
        <h3><span class="glyphicon glyphicon-map-marker"></span> 616 8th Ave S, Seattle, WA 98104</h3>
        <h3><span class="glyphicon glyphicon-phone"></span> (206) 850-9449</h3>
        <h3><span class="glyphicon glyphicon-envelope"></span> abukhalil7@netscape.net</h3>
      </div>
      <div
        {% if g.user.is_authenticated %}
          edit-field tag="text" title="program" model="programText"
        {% endif %}
        class="container-fluid col-sm-6">
        <p ng-bind="programText"></p>
      </div>
    </div>
  </div>
</div>