<div class="row">
  <div class="row">

  </div>
  <div class="row" style="display:flex;">
    <div class="col-sm-6" style="align-items: stretch;display: flex;">
      <div style="align-self:center"
        {% if g.user.is_authenticated %}
          edit-field tag="image" title="program" model="programImg"
        {% endif %}
        class="pics-container slideanim">
        <img ng-src="{% raw %}{{ programImg }}{% endraw %}"
             class="my-img img-rounded img-responsive"/>
      </div>
    </div>
    <div class="col-sm-6 img-rounded">
      <h1>Sign Up Today!</h1>
      <div
        {% if g.user.is_authenticated %}
          edit-field tag="text" title="program" model="programText"
        {% endif %}
        class="container-fluid">
        <p ng-bind="programText"></p>
        <div class="row container-fluid" style="padding-right: 25%; padding-left: 25%">
          <a class="btn btn-primary btn-lg btn-block" href="{{ url_for('contact') }}">Contact Us!</a>
        </div>
      </div>
    </div>
  </div>
</div>