<div class="row">
  <div class="col-sm-6">
      <div
        {% if g.user.is_authenticated %}
          edit-field tag="image" title="values" model="valuesImg"
        {% endif %}
        class="pics-container slideanim">
        <img ng-src="{% raw %}{{ valuesImg }}{% endraw %}"
             class="my-img img-rounded img-responsive"/>
      </div>
  </div>
  <div class="col-sm-6">
      <h1>Values</h1>
    <div
      {% if g.user.is_authenticated %}
        edit-field tag="text" title="values" model="valuesText"
      {% endif %}
      class="container-fluid">
       <p ng-bind="valuesText"></p>
    </div>
  </div>
</div>