<div class="row">
  <div class="col-sm-6">
    <h1>Welcome</h1>
    <div
      {% if g.user.is_authenticated %}
        edit-field tag="text" title="welcome" model="welcomeText"
      {% endif %}
      class="container-fluid">
      <p ng-bind="welcomeText"></p>
    </div>
{#    <div class="row">#}
{#      <div class="col-sm-6">#}
{#        <a class="myBtn btn btn-primary btn-lg btn-block" href="{{ url_for('about') }}">About Us!</a>#}
{#      </div>#}
{#      <div class="col-sm-6">#}
{#        <a class="myBtn btn btn-primary btn-lg btn-block smoothScroll" href="#contact">Sign Up!</a>#}
{#      </div>#}
{#    </div>#}
  </div>
  <div class="col-sm-6">
    <div
      {% if g.user.is_authenticated %}
        edit-field tag="image" title="welcome" model="welcomeImg"
      {% endif %}
      class="pics-container slideanim">
        <img ng-src="{% raw %}{{ welcomeImg }}{% endraw %}"
           class="img-rounded img-responsive"/>
    </div>
  </div>
</div>