{% extends 'base.html' %}

{% block content %}
  <div custom-layout>
    <div class="container-fluid">
      <h1>About Yi Sport Taekwondo</h1>
      <div class="row">
        <div>
          <p>Taekwondo school etc etc taekwondo school etc etc taekwondo school etc etc taekwondo school etc etc taekwondo school etc etc taekwondo school etc etc
          taekwondo school etc etc taekwondo school etc etc taekwondo school etc etc taekwondo school etc etc taekwondo school etc etc taekwondo school etc etc
          taekwondo school etc etc taekwondo school etc etc taekwondo school etc etc taekwondo school etc etc taekwondo school etc etc taekwondo school etc etc
          taekwondo school etc etc taekwondo school etc etc taekwondo school etc etc taekwondo school etc etc taekwondo school etc etc taekwondo school etc etc
          taekwondo school etc etc taekwondo school etc etc taekwondo school etc etc taekwondo school etc etc taekwondo school etc etc taekwondo school etc etc.</p>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <div class="pics-container">
            <img src="{{ url_for('static', filename="images/slideshow/bow.jpg") }}"
                 class="my-img img-rounded img-responsive"/>
          </div>
        </div>
        <div class="col-sm-6">
          <h2>Lionel Lee</h2>
          <p>Lionel Lee Lionel Lee Lionel Lee Lionel Lee Lionel Lee Lionel Lee Lionel Lee Lionel Lee Lionel Lee Lionel Lee
          Lionel Lee Lionel Lee Lionel Lee Lionel Lee Lionel Lee Lionel Lionel Lee Lionel Lee Lionel Lee Lionel Lee Lionel Lee Lionel
          Lionel Lee Lionel Lee Lionel Lee Lionel Lee Lionel Lee Lionel Lionel Lee Lionel Lee Lionel Lee Lionel Lee Lionel Lee Lionel
          Lionel Lee Lionel Lee Lionel Lee Lionel Lee Lionel Lee Lionel Lionel Lee Lionel Lee Lionel Lee Lionel Lee Lionel Lee Lionel </p>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h2>Sara Gray</h2>
          <p>Sara Gray Sara Gray Sara Gray Sara Gray Sara Gray Sara Gray Sara Gray Sara Gray Sara Gray
          Sara Gray Sara Gray Sara Gray Sara Gray Sara Gray Sara Gray Sara Gray Sara Gray Sara Gray
          Sara Gray Sara Gray Sara Gray Sara Gray Sara Gray Sara Gray Sara Gray Sara Gray Sara Gray
          Sara Gray Sara Gray Sara Gray Sara Gray Sara Gray Sara Gray Sara Gray Sara Gray Sara Gray
          Sara Gray Sara Gray Sara Gray Sara Gray Sara Gray Sara Gray Sara Gray Sara Gray Sara Gray </p>
        </div>
        <div class="col-sm-6">
          <div class="pics-container">
            <img src="{{ url_for('static', filename="images/slideshow/bow.jpg") }}"
                 class="my-img img-rounded img-responsive"/>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <div class="pics-container">
            <img src="{{ url_for('static', filename="images/slideshow/bow.jpg") }}"
                 class="my-img img-rounded img-responsive"/>
          </div>
        </div>
        <div class="col-sm-6">
          <h2>Khalil Butler</h2>
          <p>Khalil Butler Khalil Butler Khalil Butler Khalil Butler Khalil Butler Khalil Butler Khalil Butler
          Khalil Butler Khalil Butler Khalil Butler Khalil Butler Khalil Butler Khalil Butler Khalil Butler
          Khalil Butler Khalil Butler Khalil Butler Khalil Butler Khalil Butler Khalil Butler Khalil Butler </p>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h2>Isaak Boyance</h2>
          <p>Isaak Boyance Isaak Boyance Isaak Boyance Isaak Boyance Isaak Boyance Isaak Boyance Isaak Boyance
          Isaak Boyance Isaak Boyance Isaak Boyance Isaak Boyance Isaak Boyance Isaak Boyance Isaak Boyance </p>
        </div>
        <div class="col-sm-6">
          <div class="pics-container">
            <img src="{{ url_for('static', filename="images/slideshow/bow.jpg") }}"
                 class="my-img img-rounded img-responsive"/>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}