<!DOCTYPE html>
<html ng-app="yiSportApp">
<head lang="en">

  <title>Welcome | Yi Sport Taekwondo</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

  <script type="text/javascript" src="{{ url_for('static', filename="js/smoothScroll.js") }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename="js/slideIn.js") }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename="js/directives/layoutDirective.js") }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename="js/directives/editFieldDirective.js") }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename="js/directives/slideshowDirective.js") }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename="js/services/capitalizeFilter.js") }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename="js/services/postsService.js") }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename="js/controllers/indexController.js") }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename="js/controllers/aboutController.js") }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename="js/controllers/contactController.js") }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename="js/modules/yiSportAppModule.js") }}"></script>

  <link rel="stylesheet "type="text/css" href="{{ url_for('static', filename="css/index.css") }}">

</head>
<!-- http://www.colorcombos.com/color-schemes/14/ColorCombo14.html -->

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="150"><!-- style="background-color: #8000ff; color:white">-->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand nav-img"
        style="min-height: 50px;display: flex;align-items: center;">
          <img onclick="followLink('/')" width="60px"
            style="padding-right: 15px"
            src="{{ url_for('static', filename="images/transparent_logo.png") }}">
          <a class="navbar-brand" onclick="followLink('/')">YI SPORT</a>
        </div>
      </div>
      <div id="myNavbar" class="collapse navbar-collapse">
        <div style="white-space: nowrap;">
          <ul id="myNavbar" class="nav navbar-nav navbar-right">
            <li>
              <a class="smoothScroll" id="aboutNav" href="/#welcome">WELCOME</a>
            </li>
            <li>
              <a class="smoothScroll" id="valueNav" href="/#values">VALUES</a>
            </li>
            <li>
              <a class="smoothScroll" id="newsNav" href="/#news">NEWS</a>
            </li>
            <li>
              <a class="smoothScroll" id="contactNav" href="/#contact">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <script>
    var followLink = function (location) {
      window.location = location;
      $('#myNavbar a').removeClass('active');
      $('#' + location + 'Nav').addClass('active');
    }
  </script>

{% block content %} {% endblock %}

<footer style="background-color: #fff; color:black">
  Created by <a href="">Calin Washington</a>. |
  {% if g.user.is_authenticated %}
    <a id="logoutNav" onclick="followLink('logout')">LOGOUT</a>
  {% else %}
    <a id="loginNav" onclick="followLink('login')">LOGIN</a>
  {% endif %}
</footer>
</body>
</html>