{% extends 'base.html' %}

{% block content %}
  <div ng-controller="contactController">
    <div class="row">
      <div class="container-fluid">
        <h1 class="text-center">Get in Touch</h1>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4" style="vertical-align: middle">
          <h2>Contact us and we'll get back to you asap.</h2>
          </br>
          <p><span class="glyphicon glyphicon-map-marker"></span> 616 8th Ave S, Seattle, WA 98104</p>
          <p><span class="glyphicon glyphicon-phone"></span> (206) 850-9449</p>
          <p><span class="glyphicon glyphicon-envelope"></span> abukhalil7@netscape.net</p>
        </div>
        <div class="col-sm-4">
          {% include 'contact/map.html' %}
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div>
{% endblock %}