{% extends 'base.html' %}

{% block content %}

  <div ng-controller="indexController">
    <div
      {% if g.user.is_authenticated %}
        edit-field tag="slideshow" title="slideshow" model="images"
      {% endif %}>
      <div class="jumbotron" slide-show images="images"></div>
    </div>

    <div custom-layout>
      <div ID="welcome">
        {% include 'index/welcome.html' %}
      </div>

      <div id="values">
        {% include 'index/values.html' %}
      </div>

      <div id="testemonials">
        {% include 'index/testemonials.html' %}
      </div>

      <div id="news">
        {% include 'index/news.html' %}
      </div>

      <div id="contact">
        {% include 'index/program.html' %}
      </div>
    </div>

    <div>
      {% include 'index/map.html' %}
    </div>
  </div>

{% endblock %}