<div class="row">
  <div class="col-sm-6" edit-field="valuesImg">
      <div class="pics-container">
        <img src="{{ url_for('static', filename="images/slideshow/kick.jpg") }}"
             class="my-img img-rounded img-responsive"/>
      </div>
  </div>
  <div class="col-sm-6">
      <h1>Values</h1>
    <div class="container-fluid" >
       <p>being good and stuff being good and stuff being good and stuff being good and stuff being good and stuff being good and stuff being good and stuff being good and stuff
      being good and stuff being good and stuff being good and stuff being good and stuff being good and stuff being good and stuff being good and stuff being good and stuff
      being good and stuff being good and stuff being good and stuff being good and stuff being good and stuff being good and stuff being good and stuff being good and stuff
      being good and stuff being good and stuff being good and stuff being good and stuff being good and stuff being good and stuff being good and stuff being good and stuff </p>
    </div>
  </div>
</div>