<div class="row">
  <div class="col-sm-6" edit-field="welcomeText" >
    <h1>Welcome</h1>
    <div class="container-fluid" >
      <p>Who We Are Who We Are Who We Are Who We Are Who We Are Who We Are Who We Are Who We Are
      Who We Are Who We Are Who We Are Who We Are Who We Are Who We Are Who We Are Who We Are
      Who We Are Who We Are Who We Are Who We Are Who We Are Who We Are Who We Are Who We Are
      Who We Are Who We Are Who We Are Who We Are Who We Are Who We Are Who We Are Who We Are
      Who We Are Who We Are Who We Are Who We Are Who We Are Who We Are Who We Are Who We Are</p>
    </div>
  </div>
  <div class="col-sm-6" edit-field="welcomeImg" >
    <div class="pics-container" style="text-align: center">
      <img src="{{ url_for('static', filename="images/slideshow/trophy.jpg") }}"
           class="my-img img-rounded img-responsive"/>
    </div>
  </div>
</div>